.div{
    background-color: #9a3e3e;
    /* background-image: url(../imgs/first_step_ctf.png); */
    background-repeat: no-repeat;
    background-position: 100px 30px;
    background-attachment: fixed;
    background-size: cover;
    /* background-size: contain; */
    padding: 20px 20px;

    /* -------- to center any div ----*/
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /* ------------------------------- */

    height: 200px;
    margin: auto;


    border: 10px yellow dashed ;


    /* 
    Block
        - Take Full width if no width
        - Add line break befor and after it
        - Respect padding margin width height

    Inline 
        - Don't respect width and height
        - Don't add line breake 
        - respect padding and margin [just left + right]
    

    Inline-block
        - Respect padding margin width height

    */
}


/* span{
    background-color: #9a3e3e;
    padding: 30px;
    display: inline-block;
} */


div span {
    height: 40px;
    background-color: yellow;
    overflow: auto;
    padding: 0px;
    
}


/* box-shadwo: H-shadow V-shadow blure color */
/* p{
    color: red;
    box-shadow: 1px 1px 3px black;
    
}

p{
    text-shadow: 1px 1px 8px red;
    text-indent: 100px;

} */

a{
    text-decoration: none; /*to remove line under anchor*/
    text-transform: uppercase;
    letter-spacing: 2px;
    text-indent: 100px;
    line-height: 12px;
    word-spacing: 10px;
    white-space: nowrap;
    word-break: break-word;
    text-overflow: ellipsis;
}


.div{
    width: 300px;
    height: 100px;
    background-color: brown;
    font-size: 40px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.with-sir{
    font-family: 'Times New Roman', Times, serif;
    font-family: "Cairo", sans-serif;
}

.sans-sir{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Cairo", sans-serif;
}

.p{
    font-size: 40px;
}
.p span{
    font-size: 9vb;
}



/* -------Float------ */
.parent{
    background-color: red;
    padding: 10px;
    /* overflow: hidden; */
}
.parent div{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #eee;
    font-size: 25px;
    font-weight: bold;
    width: calc(95% / 5);
    /* display: inline-block; */
    float: left;
    margin-left: 1%;
}

.clear{
    clear: both;
}

body{
    min-height: 5000px;
}

.one{
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #9a3e3e;
    width: 10%;
    text-align: center;
    position: fixed;
    /* top: 10px; */
    /* bottom: -30px; */
    right: 0px;
    bottom: 0;
}
.two{
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #e4c5c5;
    /* display: inline-block; */
    width: 10%;
    text-align: center;
}

.test{
    width: 70%;
    background-color: yellow;
    height: 250px;
    position: relative;
}
/* to make div move inside another div you should 
make parent div with [position: relative] and 
child div with [position: absolute] 


*/


/* ul{
    list-style: none;
    padding: 0;
    float: left;
}

ul li{
    float: left;
    padding-left: 10px;
}

table{
    width: 100%;
    text-align: center;
    background-color: #e4c5c5;
}

table thead{
    background-color: #9a4b4b;
    border-spacing: 12px;
}
table td,table th{
    padding: 12px;
}

table td{
    background-color: azure;
} */


.pone::first-letter{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

::selection{
    background-color: #9a3e3e;
    color: yellow;
}

.box1,.box2,.box3{
    margin-bottom: 10px;
}
.box1 .title,.box2 .title,.box3 .title{

    width: 15%;
    display: inline-block;
    background-color: #eee;
    /* padding: 20px;
    margin: 10px; */
    font-size: 90px;
    text-align: center;
    /* height: inherit; */
}
.box1 .describ,.box2 .describ,.box3 .describ{
    display: inline-block;
    /* font-size: 20px; */
    width: 80%;
    text-align: center;
    background-color: #eee;
    padding: 12px 0px;
    /* height: inherit; */
    padding-bottom: 17px;
}


.parent2{
    margin-bottom: 30px;
    overflow: hidden;
    counter-increment: cnt;
}

.one1{
    background-color: #eee;
    width: 500px;
    float: left;
    padding: 10px;
    position: relative;
}
.user{
    background-color: #eee;
    width: 50px;
    margin-right: 20px;
    padding: 10px;
    height: 55.5px;
    float: left;
    font-size: 50px;
    text-align: center;
}

/* .one1 .pipe{
    position: absolute;
    width: 5px;
    background-color: green;
    top: 0px;
    right: -10px;
    height: 100%;
} */

.one1::after{
    content: counter(cnt);
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    top: 50%;
    right: -10px;
    margin-top: -10px;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    /* position: absolute;
    width: 5px;
    background-color: green;
    top: 0px;
    right: -10px;
    height: 100%; */
}
.one1::before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -10px;
    border-style: solid;
    border-color: transparent green transparent transparent;
    border-width: 10px;
}



ul {
    list-style-type: none;
    margin-left: 20px;
}
ul li {
    margin-bottom: 6px;
    position: relative;
    /* overflow: ; */
}
ul li::before{
    content: "";
    /* width: 20px;
    height: 20px; */
    border-style: solid;
    border-color: transparent green transparent transparent;
    border-width: 2px;
    top: 50%;
    left: -20px;
    margin-top: -10px;
}



