/* --------Assignment 1--------- */
/* div{
    width: 600px;
    height: 30px;
    text-align: center;
    margin: 15px;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

div:first-child{
    background-color: #eee;
    
}

div:nth-child(2){
    background-color: red;
    
}

div:nth-child(3){
    background-color: #eee;
    
} */





/* --------Assignment 2--------- */
/* div{
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddcbcb;
    position: relative;
}
div::first-letter{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 10px;
    background-color: red;
    font-weight: bold;
    color: white;
    margin-left: -40px;
} */



/* --------Assignment 3--------- */

p{
    padding: 10px;
    background-color: #eee;
    width: 70%;
    margin: 15px auto;
    position: relative;
    border-left: 4px solid green;
}
p::before{
    content: attr(data-person);
    background-color: #eee;
    padding: 8px;
    position: absolute;
    left: -89px;
    top: 50%;
    margin-top: -18px;
    width: 47px;
}
p::after{
    content: "";
    position: absolute;
    border-width: 10px;
    border-color: transparent green transparent transparent;
    border-style: solid;
    top: 50%;
    left: -23px;
    margin-top: -10px;
}




/* --------Assignment 4--------- */
/* p{
    padding: 15px;
    background-color: #eee;
    font-weight: bold;
    width: 70%;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    counter-increment: cnt;
    position: relative;
}

p::before{
    content: counter(cnt);
    width: 30px;
    height: calc(100% - 16px);
    background-color: red;
    position: absolute;
    top: 0;
    left: -30px;
    text-align: center;
    padding-top: 16px;

} */