/* ---------Assignment 1------- */
/* .parent{
    background-color: whitesmoke;
    width: 800px;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
}

.parent div{
    margin: 15px 0px;
    background-color: #eee;
}

.parent .zerth{
    width: 100%;
    width: calc((100% - 30px)/1);
    margin-left: 15px;
    padding: 15px 0px;
}
.parent .first div{
    width: calc((100% - 60px)/3);
    float: left;
    margin-left: 15px;
    padding: 15px 0px;
}


.parent .second div{
    width: calc((100% - 45px)/2);
    float: left;
    margin-left: 15px;
    padding: 15px 0px;
}

.parent .third div{
    width: calc((100% - 75px) / 4);
    float: left;
    margin-left: 15px;
    padding: 15px 0px;
} */





/* ---------Assignment 1------- */
div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    background-color: rgb(134, 134, 134); /* Get The Background From Image */
    color: black;
  }

  .one{
    background-color: rgb(134, 134, 134 , 0.1); /* Get The Background From Image */

  }
  .two{
    opacity: 0.1;
  }