/* ----Assignment 1------- */
/* div{
    background-color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin: 15px;
    border: 2px rgb(204, 27, 27) solid;
}

p{
    padding: inherit;
    border: inherit;
} */





/* ----Assignment 2------- */
/* div{
    text-align: center;
}
.div1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
}
.div2{
    font-family: "Cairo", sans-serif;
}
.div3{
    font-family: "Jomhuria", serif;
} */



/* ----Assignment 3------- */
html{
    font-size: 20px;
}
div{
    text-align: center;
    font-weight: bold;
}
.div1{
    font-size: 2.5rem;
}
.div2{
    font-size: 2rem;
}
.div3{
    font-size: 1.5rem;
}
